body {
  background-color: #fff;
}

.navbar {
  background-color: #304a63;
}

.navbar .navbar-nav {
display: inline-block;
float: none;
}

.navbar .navbar-collapse {
text-align: center;
}

.navbar-inverse .navbar-nav > .active > a {
border-radius: 0;
background-color: #5D89B1;
padding: 30px 40px 30px;
border-left: 1px solid black;
border-right: 1px solid black;
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
background-color: #75a4ab !important;
border-radius: 0;
}

.menu_item {
margin-bottom: -6px;
margin-top: -6px;
}

.navbar-fixed-top {
padding: 0px;
border-bottom:  5px solid #385e96;

}

#navi-ul {
padding: 0px;
}

#navi-li {
padding-right: 0px;
}

.inuse {
background-color: #75a4ab !important;
}

.dropdown-menu > li > a {
padding: 20px;
background-color: #5D89B1 !important;
border-bottom: 1px solid black;
font-size: 18px;
font-weight: bold;
color: white;
}

#no-border {
border: none;
}

.menu_item_sub > a:hover {
background-color: #75a4ab !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
background-color: #75a4ab !important;
}

.dropdown-menu {
padding: 0;
}


/* JUMBOTRON */

.jumbotron {
  z-index: 2;
  position: absolute;
  top: 78px;
  left: 0px;
  right: 0px;
  height: 550px;
  padding-top: 138px;
  box-shadow: 0px 7px 25px 0px black;
}

.product_popular {
  margin-top: 680px;
  width: 99%;
}

.border-wrap {
  border: 1px solid black;
  background-color: #FFF;
}

.row_one {
  padding-bottom: 50px;
  margin-top: -105px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row_two {
  padding-bottom: 50px;
}

.bg2 {
  background-color: #505f6d;
  width: 92%;
  height: 100%;
}

.product_text {
  margin: auto;
  text-align: center;
  max-width: 90%;
  padding-bottom: 25px;
}

.product_spec {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  height: 92px;
  width: 95px;
}

.spec_icon {
  font-size: 22px;
  padding: 5px 0px 5px;
}

.spec_name {
  font-size: 14px;
}

.spec_col {
  display: inline-block;
  padding: 0px;
}

.product_section {
  min-width: 393.7px;
  max-width: 413.19px;
  margin: auto;
  margin-bottom: 25px;
}

.img-responsive {
  margin: auto;
  height: 310px;
}
