/* ********************************** NAVIGATION ********************************** */
#navi-ul {
  padding: 20px;
}

#navi-li {
  padding-right: 5px;
  border-radius: 5px;
}

#nav-logo {
  width: 130px;
  height: 70px;
  padding: 5px;
}

.nav-pills {
  font-size: 16px;
}

.sidebar-nav {
  padding: 9px 0;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
  margin-top: 0;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}

.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
}

.nav > li > a {
  padding: 3px 10px;
}

.kylgnav {
  z-index: 1000;
}

.navbar-fixed-top {
  padding: 5px;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

@media (max-width: 767px) {
    .navbar-brand {
        padding: 0;
    }

    .navbar-brand img {
        margin-top: 5px;
        margin-left: 5px;
    }
}

/* ********************************** SIDENAV ********************************** */

li.list-group-item {
  border: none;
  font-family: 'Century Gothic', Didot;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  right: -25px;
}

li.list-group-item:hover > a:hover {
  border-width: thin;
  border-left-style: solid;
  border-left-color: black;
  color: black;
  font-weight: 500;
  border-width: 1px;
  background-color: transparent;
}

li.list-group-item.active > a,
li.list-group-item.active > a:hover,
li.list-group-item.active > a:focus {
  border-width: 2px;
  border-left-style: solid;
  border-left-color: black;
  color: black;
  font-weight: bold;
  padding: 3px 8px;
  background-color: transparent;
  font-size: 16px;
}

li.list-group-item.active {
  background-color: transparent;
}

li.list-group-item > a {
  color: #4E0808;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: transparent;;
    border-color: #337ab7;
}

.affix {
    vertical-align: middle;
    right: 40px;
    top: 175px;
}

/* ********************************** ÜLDINE ********************************** */

body {
  background: #dadbdc; /* #9c9c9c */
  margin-top: 125px;
}

hr {
  width: 85%;
  margin-left: 0;
  text-align: left;
}

/* ********************************** JUMBOTRON ********************************** */

.jumbotron {
  background-image: url("pildid/jumbo.jpg");
  background-size: cover;
  height: 300px;
  opacity: 1;
}

.jumbotron h2 {
  color: white;
  font-size: 52px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#ala li {
  display: inline-block;
  color: white;
  font-size: 22px;
  margin: 5px;
  font-weight: 500;
  text-shadow: 2px 2px black;
}


/* ********************************** PILDID ********************************** */
.pildialign {


}

.pildialign2 {

}

.pildid {
  border-radius: 5px;
  border-style: groove;
  border-color: black;
  border-width: medium;
}

#ederpic {
  width: 316px;
  height: 316px;
  background: white;
}

.tootepilt {
  border-radius: 25px;
  border: 1px solid black;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  background: white;
  width: 310px;
  height: 310px;
  margin-left: 20px;
}

.testing {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 40px;
  border-radius: 5px;
  border: 1px solid black;
}

img.testing {
  margin: 5px;
}

.vaiksed-pildid {
margin-left: 1px;
}

#suurlogo {
width: 130px;
height: 70px;
padding: 5px;
}

#vaikelogo {
width: 100px;
height: 50px;
margin-top: 0;
}
/* ********************************** TEKST ********************************** */

p {
  text-align: justify;
}

.pealkiri {
  margin-top: 20px;
}

.pealkiri p {
  float: right;
  font-size: 24px;
  font-weight: 600;
}

.jalus {
  background-color: black;
  margin-top: 100px;
  bottom: 1px;
}

#jalus {
  margin-top: 0;
  position: fixed;
  height: 30px;
  width: 100%;
}

.jalus p {
  color: white;
  padding: 5px;
}

.kirjeldus {
  width: 316px;
  margin-top: 10px;
}

.vintsname {
  font-size: 28px;
}


.eder {
  background: white;
}

.modi {
  padding-left: 10px;
  font-size: 12px;
}



/* ********************************** MUU ********************************** */



.puts {
    background: white;
}

 *[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}



.pdf {
  width: 99vw;
  height: 100vh;
  max-height: 100%;
  margin-top: -40px;
}

.iframe_hinnad {
  width: 100%;auto;
  height: 900px;
}

.hinnadjalus {
  height: 90px;
}

object {
  height: 100vh;
}

.nh {
  margin: auto;
  width: 340px;
}

.pdfkest {
  overflow: auto;
   -webkit-overflow-scrolling: touch;
    height: 100%;
}

@media (min-width: 961px) {
  .tooteinfo {
  max-width: 72%;
  }
}

@media (max-width: 991px) {

  html {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
  }

  hr {
    margin: auto;
  }

  object {
    height: 100vh;
    width: 100vw;
  }

  .jumbotron {
    width: auto;
    height: auto;
  }

  .pildid {
    display: block;
    margin: auto;
  }

  .tootepilt {
  float: none;
  margin: auto;
  }

  .kirjeldus {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 20px;
    max-width: 80%;
    text-align: justify;
  }

  .tooteinfo {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 20px;
    max-width: 70%;
    text-align: justify;
  }

  .vintsname {
    width: 400px;
    margin: auto;
    padding-top: 10px;
  }

  .pealkiri {
    float: none;
    margin: auto;
    width: 300px;
  }

.nh {
    float: none;
    margin: auto;
    width: 340px;
  }

iframe {
  position: absolute;
  top: 80px;
  height: 100%;
  padding-bottom: 5px;
}

.kpic1 {
  margin-bottom: 30px;
}

.kpic2 {
  margin-bottom: 40px;
}

.kasj_row {
  display: flex;
  flex-direction: column;
}

}


/* TÄNA */

iframe {
  position: fixed;
  top: 80px;
  padding-bottom: 15px;
}


.rowgal {
  display: flex;
  flex-direction: row;
}


/* **************** TEHNILINE INFO **************** */




.ti5k {
  background-color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  margin: auto;
  border: 3px solid black;
}

.ti5k th {
  text-align: center;
  font-size: 18px;
}

.ti5k td {
  padding: 10px;
  text-align: center;
}

.tabelijoon {
  border-bottom: 2px solid black;
}

.tabelikylg {
  border-left: 2px solid black;
}

.strong {
  font-weight: bold;
}

.tabel2 {
  margin: 75px 0 100px 0;
}

.ti2 {
  margin: auto;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.64);
  border: 3px solid black;
}

.ti2 th {
  text-align: center;
  font-size: 18px;
}

.ti2 td {
  padding: 10px;
  text-align: center;
}

/* **************** KASUTUSJUHEND **************** */


.kpic1:hover {
  border: 2px solid black;
}

.kpic2:hover {
  border: 2px solid black;
}

.kasj_cont {
  display: flex;
  justify-content: center;
}

.kasj_row a{
  padding: 0px 20px 0px 20px;
}

#kasj_jalus {
  margin-top: 0;
  position: fixed;
  height: 30px;
  width: 100%;
}


/* **************** EELISED **************** */

.eelised_row {
  max-width: 70%;
  margin: auto;
}

.eelised_row h3 {
  text-align: left;
  margin-bottom: 15px;
  margin-top: 50px;
}

.eelised_row p {
  text-align: justify;
}

.eelis_ymbris {
  margin: auto;
  padding: 10px;
  background-color: white;
  width: 74%;
  height: 100%;
  padding-bottom: 50px;
}


/* **************** NÕUANDED **************** */

.ymbris_nou {
  max-width: 60%;
  margin: auto;
}

.ymbris_nou img {
  margin: 20px 0 60px 0;
}

.ymbris_nou p {
  text-align: justify;
}
