body {
  background-color: #fff;
  height: 100%;
}

html {
  position: relative;
  min-height: 100%;
  background: #f1f1f1;
}

/*              NAVIGATION              */

.navbar {
background-color: #1b5f0f;
font-size: 16px;
}

.navbar .navbar-nav {
display: inline-block;
float: none;

}

.navbar .navbar-collapse {
text-align: center;
}

.navbar-collapse {
display: flex;
flex-direction: column;
}

.navbar-inverse .navbar-nav > .active > a {
border-radius: 0;
background-color: #19822b;
padding: 30px 40px 30px;
border-left: 1px solid black;
border-right: 1px solid black;
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
background-color: #1caf3a !important;
border-radius: 0;
}

.menu_item {
margin-bottom: -6px;
margin-top: -6px;
}

.menu_item a {
font-family: 'Raleway' !important;
font-size: 18px;
font-weight: 500;
letter-spacing: 1px;
}

.navbar-fixed-top {
padding: 0px;
border-bottom:  5px solid #68a261;
}

#navi-ul {
padding: 0px;
height: 74px;
}

@media (min-width:768px) {
#navi-ul {
display: flex;
justify-content: center;
}
}

#navi-li {
padding-right: 0px;
}

.inuse {
background-color: #1caf3a !important;
}

.dropdown-menu > li > a {
padding: 20px;
background-color: #19822b !important;
border-bottom: 1px solid black;
font-size: 18px;
font-weight: bold;
color: white;
}

#no-border {
border: none;
}

.menu_item_sub > a:hover {
background-color: #1caf3a !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
background-color: #1caf3a !important;
}

.dropdown-menu {
padding: 0;
}

@media (max-width: 1200px) {
.navbar-header {
float: none;
}
.navbar-left,.navbar-right {
float: none !important;
}
.navbar-toggle {
display: block;
}
.navbar-collapse {
border-top: 1px solid transparent;
box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
top: 0;
border-width: 0 0 1px;
}
.navbar-collapse.collapse {
display: none!important;
}
.navbar-nav {
float: none!important;
margin-top: 7.5px;
}
.navbar-nav>li {
float: none;
}
.navbar-nav>li>a {
padding-top: 10px;
padding-bottom: 10px;
}
.collapse.in{
display:block !important;
}
.navbar-nav .open .dropdown-menu {
position: static;
float: none;
width: auto;
margin-top: 0;
background-color: transparent;
border: 0;
-webkit-box-shadow: none;
box-shadow: none;
}

}

/* JUMBOTRON */

.jumbotron {
  z-index: 2;
  position: absolute;
  top: 78px;
  left: 0px;
  right: 0px;
  height: 550px;
  padding-top: 138px;
  box-shadow: 0px 7px 25px 0px black;
}

.product_popular {
  margin-top: 680px;
  width: 99%;
}

.border-wrap {
  border: 1px solid black;
  background-color: #FFF;
}

.row_one {
  padding-bottom: 50px;
  margin-top: -105px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row_two {
  padding-bottom: 50px;
}

.bg2 {
  background-color: #505f6d;
  width: 92%;
  height: 100%;
}

.product_text {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 25px;
}

.product_spec {
  background: white;
  box-shadow: black 0px 0px 11px 0px;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  width: 115px;
  display: flex;
  flex-direction: column;
}

.spec_icon {
  font-size: 26px;
  padding: 5px 0px 5px;
  margin-top: 10px;
  margin-bottom: -5px;
}

.spec_name {
  font-size: 14px;
}

.spec_col {
  display: inline-block;
  padding: 0px;
}
.spec_col:not(:last-child) {
  margin-right: 5px;
}

.product_section {
  min-width: 393.7px;
  max-width: 413.19px;
  margin: auto;
  margin-bottom: 25px;
}

.img-responsive {
  margin: auto;
  height: 310px;
}

/* Toode */

.container_product {
  margin: auto;
}

#body_product {
  height: 82vh;
  min-height: 100%;
}

.wrap_product {
  width: 75%;
  margin: 20px auto;
  padding-bottom: 30px;
}


.product_footer {
  margin-top: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.t1 {

  flex: 1.5;
  padding-left: 40px;

}

.t2 {
  display: flex;
  flex: 1;

}


#big-image {
  margin: auto;
  margin-top: 20px;
}

.t1 > p {
  font-size: 16px;
  font-weight: 500;
}

/* img */

.small-images {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.testing {
  flex: 1;
  border-radius: 0;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.nh {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: auto;
}

#cont_flex {
  display: flex;
  justify-content: center;
  background: #f1f1f1;
}

#specs {
  margin-bottom: 50px;
}

/*      MEDIA     */
@media (max-width: 767px) {
  .t1 > h2 {
    text-align: center;
  }
}

@media (min-width: 900px) {
  .container_product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}


@media (min-width: 1200px) {
  #row_width {
    width: 70%;
  }
}

@media (max-width: 760px) {
  img.testing {
    max-width: 60px !important;
    margin: 0;
  }
}

/*        JALUS         */

.jalus {
  background-color: #1b5f0f;
  border-top:  5px solid #68a261;
}

/*       FONT      */

.winch_p {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
}

.winch_h {
  font-family: 'Open Sans', sans-serif;
}
